@media (min-width: 1200px) {
    .login {
        width: 800px;
        margin: 7% auto;
    }
    .content-header {
        height: 60px;
        background-color: #17a2b8;
        color: #fff;
        font-weight: bold;
        font-size: 40px;
    }
}

.header .navbar .user-icon {
    position: absolute;
    right: 100px;
    background-color: #fff;
}

.content {
    border: 1px solid #17a2b8;
    border-radius: .3rem;
    background-color: #fff;
}

.content-header h1 {
    color: #fff;
    text-align: center;
    padding: 0.5em;
    font-size: 1.6rem;
}

.content-body h2 {
    text-align: center;
    color: black;
    background-color: #E0EEEE;
    margin: 30px 170px;
    padding: 10px 20px;
    border-radius: 0.5rem;
}

.userName,
.password {
    margin: 20px auto;
    padding: 10px 20px;
    width: 450px;
    height: 45px;
}

.login-buttom {
    width: 450px;
    height: 45px;
    margin-left: 160px;
}

.register {
    margin: 20px auto;
    padding-bottom: 50px;
}

.register button {
    width: 225px;
    height: 35px;
}

.login-content {
    text-align: center;
}