<!doctype htpl>
<html>
    <head>
        <meta charset="utf-8" />
        <title>注册用户</title>
    </head>
    
    <body>
        <table border="1px" cellpadding="10px" cellspacing="0px"
                style="width: 30%;margin:auto;background:rgb(195,195,195)" 
                bordercolor="red" >
            <caption>注册用户</caption>
            <form action="#" method="get">
            
                <tr>
                    <th>电话号:</th>
                    <td><input type="text" name="username"></th>
                </tr>
                <tr>
                    <th>密码:</th>
                    <td><input type="password" name="password"></td>
                </tr>
                <tr>
                    <th>确认密码:</th>
                    <td><input type="password" name="password"></td>
                </tr>
                <tr>
                    <th>游戏名称:</th>
                    <td><input type="text" name="username"></td>
                </tr>
                
                <tr>
                    <th colspan="2">
                        <input type="submit" value="提交">    
                        <input type="reset" value="重置">
                    </th>
                </tr>
            </form>
        </table>
    </body>
</html>